.logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-width: 100%;
    height: auto;
}

.logo img {
    max-width: 100%;
    height: auto;
}

/* Media Queries para ajustar en diferentes pantallas */
@media (max-width: 768px) {
    .logo {
        padding: 8px;
    }

    .logo img {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    .logo {
        padding: 5px;
    }

    .logo img {
        max-width: 60%;
    }
}