{
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.module.css"],
      "options": {
        "trailingComma": "none",
        "cssDeclarationSorter": false
      }
    }
  ]
}
