/* NavLinks.module.css */
.navContainer {
    display: flex;
    justify-content: flex-end;
}

.navList {
    display: flex;
    gap: 1.2rem;
    list-style: none;
    margin: 0;
    padding: 0 1rem;
    align-items: center;
}

.navList li button {
    color: var(--color1);
}

@media (max-width: 768px) {
    .navList {
        display: none;
    }
}