/* src/App.css */
@import '/static/fonts/Playfair_Display/font.css';


/* Variables globales */
:root {
    /* Paleta de colores */
    --color1: #213435;
    /* Principal - Fondos oscuros */
    --color2: #46685b;
    /* Secundario - Botones/Headers */
    --color3: #648a64;
    /* Hover/Énfasis */
    --color4: #a6b985;
    /* Texto en oscuro */
    --color5: #e1e3ac;
    /* Fondos claros */

    /* Variables RGB para transparencias */
    --color1-rgb: 33, 52, 53;
    --color2-rgb: 70, 104, 91;

    /* Tipografía */
    --font-primary: 'Playfair Display', serif;
}

/* Estilos base */
body {
    font-family: var(--font-primary);
    margin: 0;
    background: var(--color5);
    color: var(--color1);
}

* {
    box-sizing: border-box;
}