/* src/components/molecules/Header/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin-left: -2rem;
    padding: 8px 8px;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .header {
        flex-direction: row;
        padding: 0.5rem 1rem;
        margin-left: -1rem;
    }
}